<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
</head>
<body>
<h1>Привет, <span th:text="${user.firstName}">User</span>!</h1>
<p>Логин: <span th:text="${user.username}">user</span></p>
<p>Email: <span th:text="${user.email}">email</span></p>
<p>Фамилия: <span th:text="${user.lastName}">-</span></p>
<h3>Ваши роли:</h3>
<ul>
    <li th:each="role : ${user.roles}" th:text="${role.name}">ROLE</li>
</ul>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>
</body>
</html>